* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 480px 360px 1fr 1fr;
  gap: 20px;
  grid-template-areas:
    "banner banner banner"
    "main-article main-article main-article"
    "secondary secondary secondary"
    "secondary secondary secondary";
}

.banner {
  display: flex;
  background-color: aqua;
  grid-area: banner;

  &__img {
    width: 100%;
    height: 100%;
  }
}

.main-article {
  grid-area: main-article;
  display: flex;
  justify-content: space-around;
}

.secondary {
  background-color: cornsilk;
  grid-area: secondary;
}
