* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 480px 360px 1fr 1fr;
  gap: 20px;
  grid-template-areas:
    "banner banner banner"
    "main-article main-article main-article"
    "secondary secondary secondary"
    "secondary secondary secondary";
  font-family: 'Piazzolla', serif;
}

.banner {
  display: flex;
  grid-area: banner;
  flex-wrap: wrap;
  flex-direction: column;

  &__img {
    flex-basis: 640px;
    height: 480px;
    padding: 20px;
  }

  &__date {
    padding: 20px 0 0 20px;
    font-style: italic;
  }

  &__title {
    text-align: center;
    width: 480px;
    margin: 0 auto 20px auto;
    letter-spacing: 2px;
  }

  &__descripton {
    width: 50%;
    padding-left: 80px;
    line-height: 1.5;
    text-align: center;
  }

  &__more-info {
    display: block;
    flex-basis: 10%;
    padding: 10px;
    text-align: center;
    width: 30%;
    color: black;
    border: 1px solid black;
    margin: 40px auto 20px auto;
    text-decoration: none;
    font-size: 2.2em;
    background-color: black;
    color: white;
    transition: 0.4s;
  }

  &__more-info:hover {
    background-color: white;
    color: black;
  }
}

.main-article {
  grid-area: main-article;
  display: flex;
  justify-content: space-around;
}

.secondary {
  background-color: cornsilk;
  grid-area: secondary;
}